

.events-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap onto the next line */
  justify-content: center; /* Center the cards */
  padding: 40px 20px; /* Add padding around the container */
  gap: 20px; /* Space between cards */
}

.event-card {
  background-color: #fff; /* White background for cards */
  border-radius: 12px; /* More pronounced rounded corners */
  width: 300px; /* Fixed width for cards */
  height: 200px; /* Fixed height for the card */
  overflow: hidden; /* Ensure overflow is hidden */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
  display: flex;
  flex-direction: column; /* Align items vertically */
}

.custom-file-upload {
  font-size: 1rem;
}

.event-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
}

.event-card img {
  width: 100%; /* Full width image */
  height: 150px; /* Adjusted height for images */
  object-fit: cover; /* Cover the area */
  transition: transform 0.5s ease; /* Smooth scaling effect */
}

.event-card img:hover {
  transform: scale(1.05); /* Slight zoom effect on image hover */
}

.event-card-content {
  padding: 10px; /* Adjusted padding inside the card */
  text-align: center; /* Center align text */
  flex-grow: 1; /* Allow content to grow */
  display: flex;
  justify-content: center; /* Center the button */
}

.event-card-content .buttons {
  display: flex;
  justify-content: center; /* Center the Delete button */
}

.event-card-content .buttons button {
  padding: 10px 15px; /* Padding for button */
  font-size: 14px; /* Font size for button */
}

@media screen and (max-width: 600px) {
  .custom-file-upload{
    width: 50% !important;
    font-size: 0.8rem;
  }
}

.addVolunteer {
  background-color: #333333; 
  border: none !important;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow with 4px horizontal & vertical offset, 10px blur, and a semi-transparent black color */
}

.addVolunteer:hover {
  background-color: rgba(33, 33, 33, 0.863);
}
.addVolunteer:active {
  background-color:rgba(33, 33, 33, 0.863);  

}
.addVolunteer:focus {
  background-color:black !important;  

}