body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
::-webkit-scrollbar {
  display: none; 
}
.icons {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.sidebar-list a{
  text-decoration: none !important;
  color: inherit;
}
.sidebar-list a:hover{
  
  color: inherit;
}
.icons, .icon_header {
  margin-right: 5px;
}
.card-inner_left{
  width: 50%;
  /* border: 1px solid red; */
}
.card-inner_right{
  width: 50%;
  /* border:1px solid black; */
}
.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}



.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr; /* Fixed sidebar, remaining space for content */
  grid-template-rows: 0.2fr 3fr; /* Header and main */
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100vh;
}


/* Header  */
.arrow-icon {
  margin-left: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  position: relative;
}

.sidebarsmallsize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 99999;
  width: 250px;
  background: #333333;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: grey;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 20px;
}

.close-icon {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.sidebar-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-option {
  padding: 15px 0;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
}

.sidebar-option:hover {
  text-decoration: underline;
  color: #4caf50;
}

.icon-container {
  margin-right: 10px;
  font-size: 20px;
}

.subcategory-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 15px;
  overflow: hidden;
}

.subcategory-option {
  padding: 10px 0;
  font-size: 14px;
  color: white;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
}

.subcategory-option:hover {
  text-decoration: underline;
}

.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}


/* End Header  */

#sidebar {
  grid-area: sidebar;
  /* height: 100%; */
  background-color: #333333;
  /* overflow-y: auto; */
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: relative;
  /* overflow-x: hidden; */
}
.sidebar-toggler-adjust{
  position: absolute;
  right: -1%;
  top: 5%;
  cursor: pointer;
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  border-bottom: 1px solid grey;
  margin: 0.5rem 0;
  
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: rgb(198, 196, 196);
  font-family: Poppins;

}

.sidebar-responsive {
  display: inline !important;
  position: absolute;

  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;

}

.main-title {
  display: flex;
  justify-content: space-between;

  font-family: Poppins;
}

.main-cards {
 display: flex;
 width: 100%;
 margin: auto;
 /* justify-content: space-between; */
  gap: 20px;
  margin: 15px 0;
  /* background-color: #2962ff; */
 

}
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  /* border: 1px solid black; */
  background:green;
  width: 70%;

}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  /* border: 1px solid black;
  background-color: red; */
  width: 30%;
}
/* .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid black;
} */

/* .card:first-child { */
  /* background-color: #2962ff; */
/* } */

/* .card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
} */

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */

@media only screen and (max-width:475px){
  .mycontainer{
    padding: 10px !important;
  }
  .countbox{
    padding: 0 !important;
    width: 290px !important;
    height: 96px !important;
  }
  
}
/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }
  .main-cards{
    flex-direction: column;
    align-items: center;
  }
  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
 
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}


@media only screen and (min-width:992px){
  .sidebarsmallsize{
    display: none;
  }
}

.mycontainer {
  grid-area: main;
  overflow-y: auto;
  padding: 20px; /* Add inner padding for better layout */
  background-color: #f5f5f5; /* Optional background */
  /* border: 1px solid red; */
}
#uniqueaction{
  display: flex;
  justify-content: space-between;
  position: relative;
}
#uniqueact{
 
  position: relative;
}
.hiddenboxicon {
  position: absolute;
  right: -110%;
  top: -28px;
  background-color: transparent;
  z-index: 10;
  display: none;
}
.hiddenboxicon1 {
  position: absolute;
  right: -139%;
  top: 16px;
  background-color: transparent;
  z-index: 10;
  display: none;
}
.hiddenboxicon2 {
  position: absolute;
  right: -163%;
  top: 10px;
  background-color: transparent;
  z-index: 10;
  display: none;
}
.hiddenboxicon3 {
  position: absolute;
  right: -126%;
  top:-35px;
  background-color: transparent;
  z-index: 10;
  display: none;
}
.hiddenboxicon1 div {
  padding: 10px 15px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
}
.hiddenboxicon2 div {
  padding: 10px 15px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
}
.hiddenboxicon3 div {
  padding: 10px 15px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
}
.sidebar-list-item:hover .hiddenboxicon {
  display: block;
}

.sidebar-list-item:hover .hiddenboxicon1 {
  display: block;
}
.sidebar-list-item:hover .hiddenboxicon2 {
  display: block;
}
.sidebar-list-item:hover .hiddenboxicon3 {
  display: block;
}
.hiddenboxicon div {
  padding: 10px 15px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
}

.hiddenboxicon div:last-child {
  margin-bottom: 0;
}
.hiddenboxicon3 div:last-child {
  margin-bottom: 0;
}
.hiddenboxicon div:hover {
  background-color: #555;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0.1, 0, 0.2);
}
.hiddenboxicon3 div {
  padding: 10px 15px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
}
.hiddenboxicon1 div:hover {
  background-color: #555;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0.1, 0, 0.2);
}
.hiddenboxicon2 div:hover {
  background-color: #555;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0.1, 0, 0.2);
}
.hiddenboxicon3 div:hover {
  background-color: #555;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0.1, 0, 0.2);
}




.actiontoggler{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.options{
  border-bottom: 1px solid grey;
  padding: 20px 0;
}
.options:hover{
  background-color: rgba(255, 255, 255, 0.2);
}



li {
  color: white;
}



/* .sidebar {
position: fixed;
top: 0;
left: 0;
height: 100%;
background-color: #333;
color: white;
overflow: hidden;
z-index: 10;
display: flex;
flex-direction: column;
}

.sidebar-toggler {
cursor: pointer;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
background-color: #444;
}

.sidebar-list {
list-style: none;
padding: 0;
margin: 0;
flex-grow: 1;
}

.sidebar-list-item {
padding: 15px;
display: flex;
align-items: center;
gap: 10px;
color: white;
text-decoration: none;
cursor: pointer;
transition: background-color 0.2s;
}

.sidebar-list-item:hover {
background-color: #555;
}

.icon {
font-size: 20px;
} */

@media only screen and (min-width:1024px) and (max-width:2560px){
.countbox{
  width: 400px !important;
}
}






