* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.volunteers-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-heading h1 {
  width: 50%;
  display: flex;
  justify-content: end;
}

.page-heading div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-heading button {
  font-size: 1rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.details_group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.details_group span {
  font-weight: 900;
  margin-right: 5px;
}

@media screen and (max-width: 760px) {
  .page-heading {
    flex-direction: column;
  }
  .page-heading h1 {
    width: 100%;
    justify-content: center;
  }
  .page-heading div {
    width: 100%;
  }
  .page-heading button {
    font-size: 0.8rem;
  }
}


.addVolunteer {
  background-color: #333333; 
  border: none !important;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow with 4px horizontal & vertical offset, 10px blur, and a semi-transparent black color */
}

.addVolunteer:hover {
  background-color:rgba(33, 33, 33, 0.863);
}

@media screen and (min-width: 768px) {
  .addVolunteer {
    width: 25%;
  }
}

.addVolunteer:active {
  background-color:rgba(33, 33, 33, 0.863);  

}
.addVolunteer:focus {
  background-color:black !important;  

}