/* VolunteerCard.css */

/* Responsive Design */
@media (max-width: 768px) {
    .flex-shrink-0 img {
      width: 90px !important;
    }
    .flex-grow-1 {
      font-size: 14px !important;
    }
    .d-flex.justify-content-start {
      padding: 5px !important;
    }
    .d-flex.pt-1 .btn {
      padding: 0.375rem 0.75rem !important; /* Smaller button padding */
    }
  }
  
  @media (max-width: 650px) {
    .flex-shrink-0 img {
      width: 75px !important;
    }
    .flex-grow-1 {
      font-size: 12px !important;
    }
    .d-flex.justify-content-start {
      padding: 4px !important;
    }
    .d-flex.pt-1 .btn {
      padding: 0.25rem 0.5rem !important;
    }
  }
  